<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  
  <connectionStrings>
    <add name="Data" connectionString="XpoProvider=Postgres;server=localhost;port=5433;user id=postgres;password=4752;database=SUAI25;encoding=UNICODE" />
  </connectionStrings>
  
  <nlog>
    <variable name="logDirectory" value="${specialfolder:folder=CommonApplicationData}/ggnp/keeper/datamanager/logs/${shortdate}" />
    <targets async="true">
      <default-wrapper type="AsyncWrapper" />
      <target name="logfile" type="File" fileName="${logDirectory}/log.txt" layout="${longdate} ${message} ${exception:format=tostring}" />
      <target name="console" type="Console" layout="${message} ${exception}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
  
</configuration>